@model List<RequestModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<header>
    <div class = "container-fluid">
        <p class = "text-center CustomerProfile">Operator Profile</p>
    </div>
    <hr class="LineInHeader"align = "center">
</header>
<body>
    <div class="container-fluid">
        <div class = "row">
            <div class="sidebar col-3 containter-fluid">
                <div class="sidebarSquare">
                    <div class="Documents">
                        <a asp-action="OperatorChangeDocuments" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">Documents</a>
                    </div>
                    <div class="Requests" style = "background-color: rgba(154,110,246,7%); color: #8643D6;">
                        <a style = "background-color: rgba(154,110,246,7%); color: #8643D6;">Requests to me</a>
                    </div>
                    
                    <div class="Something">
                        <a asp-action="CreateTour" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">Create tour</a>
                    </div>
                    <div class = "MyTours">
                         <a asp-action="PrintTours" style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">My tours</a>
                    </div>
                </div>
            </div>
            <div class = "col-6">
                    @{int i = 0;
                @if (Model != null){
                @foreach(var request in Model)
                {
                        i++;
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                          <div class="accordion-item requestaccordeon">
                            <h2 class="accordion-header" id="flush-heading@(i)">
                              <button class="accordion-button collapsed requestbutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse@(i)" aria-expanded="false" aria-controls="flush-collapse@(i)">
                                <p>@(request.CustomerName)`s request</p> 
                              </button>
                            </h2>
                            <div id="flush-collapse@(i)" class="accordion-collapse collapse" aria-labelledby="flush-heading@(i)" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                <p>Name: @request.CustomerName</p>
                                <p>Last name: @request.CustomerLastName</p>
                                <p>Phone number: @request.PhoneNumber</p>
                                <div class="linkontour">
                                Tour: <a asp-controller="Tour" asp-action="Index" asp-route-id="@request.TourId">@request.TourName</a>    
                                </div>
                                </div>
                            </div>
                          </div>
                        </div>
                }
                }else{
                  <div class = "NoReq">
                  <p>No acitve requests</p>
                  </div>
                }
                }
                </div>
            <div class = "logoutbar col-3">
                <div class = "LogoutButton">
                    <a asp-controller="Account" asp-action="Logout" class="logoutlink"  style = "text-decoration: none; text-decoration-color: none; color: black; font-size: 16px;">LOG OUT</a> 
                </div>
            </div>
        </div>
    </div>
   
</body>

