@model goodtrip.Models.TourInfoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tour.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..">

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/lightbox.min.css">
    </head>
<body>
<div class = "container-fluid">
    <partial name = "_Tour" model = "@Model.Tour" />
    <div class = "hotelheader">
            <p>Comments</p>
    </div>
        @if (Context.User.IsInRole("Customer"))
        {
            <div class="newcomment">
                <form method = "post" asp-controller = "Tour" asp-action = "Comment">
                    <div class = "commentname">
                    <input asp-for = "TourId" type="hidden"/>
                    <input asp-for = "CommentName" class = "form-control" placeholder = "Name">
                    </div>
                    <div class = "commenttext">
                    <textarea asp-for="CommentText" type=text class = "form-control" placeholder = "Your feedback to us..." rows = 4>
                    </textarea>
                    </div>
                    <button type="submit" class = "btn btn-primary">Comment!</button>
                </form>
            </div>
        }
    </div>
    
    @if (Model.Tour.Review != null)
    {
          @foreach(var comment in @Model.Tour.Review)
        {
        <div class = "comment">
                <div class = "nameofcomment">
                    <p>Author's Name:</p>
                <p>@comment.Username</p>
                </div>
                <div class = "dateofcomment">
                    <p>Was Created:</p>
                <p>@comment.Created</p>
                </div>
            <div class = "textofcomment">
                <p>Text:</p>
                <p>@comment.Text</p>
            </div>
        </div>
        }

    }
    @if(Model.Tour.Review.Count == 0)
    {
        <p style="font-size:24px;text-align:center;">No reviews yet. Be first!</p>
    }




<script>
const lightbox = document.createElement('div')
lightbox.id = 'lightbox'
document.body.appendChild(lightbox)
const images = document.querySelectorAll('img')
images.forEach(image => {
  image.addEventListener('click', e => {
    lightbox.classList.add('active')
    const img = document.createElement('img')
    img.src = image.src
    while (lightbox.firstChild) {
      lightbox.removeChild(lightbox.firstChild)
    }
    lightbox.appendChild(img)
  })
})
lightbox.addEventListener('click', e => {
  if (e.target !== e.currentTarget) return
  lightbox.classList.remove('active')
})
</script>
</body>
</html>