@model goodtrip.Storage.Entity.Tour

<div class = "container-fluid">
    <div class="entiretour">
        <div class = "tour">
            <div class ="tourtitle">
            <p>@Model.Name Tour</p>
            </div>
            <div class="tourplace">
                <p>@(Model.City), @(Model.Country)</p>
            </div>
            <div class = "tourdescription">
                <p>@Model.Description</p>
            </div>
            <div class= "touractiveperiod">
                <p><strong>Active period:</strong>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
            </div>
            <div class="tourmaxamount">
                <p><strong>Maximum amount of persons:</strong> @Model.MaxTourists persons</p>
            </div>
        </div>
        <div class = "hotel">
            <div class = "hoteltitle">
                <p>@Model.Hotel.Name Hotel</p>
            </div>
            <div class = "hotelstars">
                <p>@Model.Hotel.Mark STARS HOTEL</p>
            </div>
            <div class = "hotelimages">
                <div class = "grid">
                    @foreach(var photo in ViewBag.HotelPhotos)
                    {
                        <img src = "@photo" />
                    }
                </div>
            </div>
            
            <div class = "hoteladdress">
                <p>@Model.Hotel.Country, @Model.Hotel.City, @Model.Hotel.Address </p>
            </div>
            <div class = "hoteldescription">
                <p>@Model.Hotel.Description</p>
            </div>
            <div class="hoteladdings">
                @if(Model.Hotel.IsWifi == true)
                {
                    <p>FREE WIFI</p>
                }
                @if(Model.Hotel.Feeding == true){
                    <p>MEALS INCLUDED</p>
                }
                <p>@Model.Hotel.FreeRooms FREE ROOMS</p>
            </div>
        </div>
        @{
            int counter = 0;
            var excursionphotos = ViewBag.ExcurtionPhotos;
        @foreach(var excursion in Model.Excurtion){
            <div class = "excursion">
                <div class = "excursiontitle">
                    <p>@excursion.Name Excursion</p>
                </div>
            <div class = "grid">
                <div class = "row">
                    <div class = "col-5">
                        <div class = "excursionimage">
                            @if(counter < excursionphotos.Count){
                            <img src ="@excursionphotos[counter]">
                            counter++;
                            }
                        </div>
                    </div>
                    <div class = "col-7">
                        <div class = "excursiondescription">
                            <p>@excursion.Description</p>
                        </div>
                        <div class="excursionduration">
                            <p><b>Duration:</b> @excursion.Duration hours</p>
                        </div>
                        <div class = "excursionplace">
                            <p><b>Place:</b> @excursion.Place </p>
                        </div>
                        <div class = "excursionamountoftourists">
                            <p><b>Amount of tourists: </b>@excursion.MaxAmountOfVisitors </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                }
        }

        <div class = "priceandsendrequest">
            <div class="row">
                <div class = "col-6">
                    <div class = "Price">
                        <p>@Model.Price $</p>
                    </div>
                </div>
                <div class = "col-6">
                    @if(Context.User.IsInRole("Customer")){
                        <div class = "sendrequest">
                            <a asp-action="CreateRequest" asp-route-id="@Model.Id.ToString()" class = "text" >Send Request</a>
                        </div>
                    }
                    else
                    {
                        <div class = "accessdenied">
                        <p>You can`t to send request and comment because you are not a customer!</p>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
