@model goodtrip.Models.SearchModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />
</head>

<form method = "post">
                    <div class="col-12">
                    <div class="searchh">
                        <form method = "post" asp-controller="Search" asp-action="Index">
                            <div class = "row">
                                <div class = "col-1 leftinputs">
                                    <div class = "price">
                                        
                                        <div class="row">
                                                <p>Price scale</p>
                                            <div class="col-6">
                                                <input asp-for="PriceStart" />
                                            </div>

                                            <div class="col-6 ">
                                                <input asp-for = "PriceEnd" id = "priceend" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "feeding">
                                        <p>Has feeding</p>
                                        
                                        <input asp-for ="IsFeeding" type = "radio" value="true"/> Yes
                                        <input asp-for ="IsFeeding" type = "radio" value="false"/> No
                                    </div>
                                    <div class = "starsofhotel">
                                        <p>Hotel stars</p>
                                        <input asp-for="AmountOfStartOfHotel" />
                                    </div>
                                    <div class = "wifi">
                                        <p>Free wi-fi</p>
                                        <input asp-for ="IsWifi" type = "radio" value="true"/> Yes
                                        <input asp-for ="IsWifi" type = "radio" value="false"/> No
                                    </div>
                                     <div class = "duration">
                                        <p>Duration</p>
                                        <input asp-for="Duration" />
                                    </div>
                                </div>
                                <div class = "col-11">
                                    <input asp-for="Place" placeholder = "City" />
                                    <input asp-for="DateOfStart" type = "date" placeholder = "Date of start" />
                                    <input asp-for="DateOfEnd" type = "date" placeholder = "Date of end" />
                                     <div class="btnsearchh">
                                    <button type="submit">SEARCH</button>
                                    @if(Model.Tours != null){
                                        @foreach(var tour in Model.Tours){
                                            <div class = "tour">
                                                <a asp-controller = "Tour" asp-action="Index" asp-route-id="@tour.Id" class="text">
                                                <div class = "SearchImage">
                                                <img src = "@tour.ImageDataUrl">
                                                </div>
                                                <div class = "NameTour">
                                                                <p>@tour.Name</p>
                                                </div>
                                                <div class = "DescriptionTour">
                                                       <p>@tour.Description</p>
                                                </div>
                                                <div class = "PriceTour">
                                                      <p>@tour.Price$</p>
                                                </div>
                                            </a>

                                            </div>
                                        }
                                    }
                                </div>
                                
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
</form>

 <body style = "background-color: #E2D3FF">

</body>